<div class="small-form">
    <div class="small-form-title">
        <h6>login</h6>
    </div>
            <form class="" [formGroup]='reactiveForm'>
              <fieldset class="small-form-body">
                <div class="form-row">
                  <div class="form-group small-form-element">
                    <label for="email">Email</label>
                    <input name="email" [(ngModel)]="loginUserData.email" id="email" class="form-control"
                     placeholder="Write Your Email" formControlName="email" />
                     @if( reactiveForm.get('email').touched && reactiveForm.get('email').invalid){
                      <small class="error">Not a valid email</small>
                     }
                </div>
                </div>
                <div class="form-row">
                  <div class="form-group small-form-element">
                    <label for="password">Password</label>
                    <input name="password" [(ngModel)]="loginUserData.password" id="password" type="password" 
                    class="form-control" placeholder="Write Password" formControlName="password"/>
                    @if(reactiveForm.get('password').touched && reactiveForm.get('password').invalid){
                      <small class="error">Not a valid password</small>
                    }
                     
                  </div>
          
                </div>
                <div class="button-row">
                  <button type="button" class="btn btn-primary" (click)="Login()" [disabled]="reactiveForm.invalid">Login</button>
                </div>
              </fieldset>
            </form>
</div>