
 <div  class="NewForm" >

    <h4>Add New Stream</h4>
 <!--- <div  class="NewForm">-->
  <div ></div> 
  <form>
  
   <div class="form-group" >
     <label  for="StreamName">Enter Stream Name</label>
     <input id="StreamName" class="form-control" placeholder="Stream Name"/>
  
      <label for="Description">Enter Stream Description</label>
    <textarea id="Description" class="form-control" placeholder="Tell us something about the Stream..."></textarea>
  
  <button type="button" class="btn btn-primary" (click)="Submit()">Submit</button>
  <button type="button" class="btn btn-danger" (click)="Cancel()">Cancel</button>
</div>
  </form>
  </div>