
 <div  class="NewForm" >

    <h3>Add New Stream</h3>
 <!--- <div  class="NewForm">-->
  <div ></div> 
  <form>
  
   <div class="form-group" >
     <label  for="StreamName">Enter Stream Name</label>
     <input id="StreamName" class="form-control" placeholder="Stream Name"/>
  
      <label for="Description">Enter Stream Description</label>
    <input id="Description" class="form-control" placeholder="Description"/>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</div>
  </form>
  </div>