.NewForm{
    width: 400px;
    margin: auto;
    background-color: #e9e9e9;
    padding: 25px;
}

.space
{
    margin-right: 1em;
}

h4{
    display: inline-block;
    padding-top:20px;
    margin-left: 0.7em;
  }

  .heading{
      width:400px;
      margin:auto;
  }

