<p>
    Add New Paper
  </p>
  <div  class="NewForm">
   
  <form>
  
   <div class="form-group">
     <label  for="universityName">Select University</label>
     <input id="universityName" class="form-control" placeholder="University Name"/>
   </div>
   <div class="form-group">
      <label for="CityName">Select College</label>
    <input id="CityName" class="form-control" placeholder="College"/>
  </div>
  <div class="form-group">
      <label for="CityName">Select Stream</label>
    <input id="CityName" class="form-control" placeholder="Stream"/>
  </div>
  <div class="form-group">
      <label for="CityName">Select Semester</label>
    <input id="CityName" class="form-control" placeholder="Semester"/>
  </div>
  <div class="form-group">
      <label for="CityName">Write Year here</label>
    <input id="CityName" class="form-control" placeholder="Year"/>
  </div>
  <button type="submit" class="btn btn-primary" (click)="Cancel()" >Cancel</button>
  <button type="submit" class="btn btn-primary" (click)="Submit()" >Submit</button>
  </form>
  </div>