
      
<div  class="NewForm">

    <h4>
        Add College Data
    </h4>
    
<form class="form-style">

 <div class="form-group">
   <label  for="universityName">University Name</label>
  <!-- <input id="universityName" class="form-control" placeholder="To which University this College is affiliated..."/>
    -->

   <ng-select [items]="universities"
   bindLabel="name"
   placeholder="Select University"
   [(ngModel)]="selectedUniversity">
  </ng-select>
 </div>
 <div class="form-group">
    <label for="collegeName">College Name</label>
    <input id="collegeName" class="form-control" placeholder="What is the name of College..."/>

</div>
<div class="form-group">
    <label  for="collegeAddress">Address</label>
    <!--<input id="collegeAddress" class="form-control" placeholder="What is Address of College..."/>-->
    <textarea id="collegeAddress" class="form-control" placeholder="What is Address of College..."></textarea>
  </div>
  <div class="form-group">
      <label  for="collegeCity">City</label>
      <input id="collegeCity" class="form-control" placeholder="In which City the College is..."/>
    </div>
    <div class="form-group">
        <label  for="collegeStream">Stream</label>
        <textarea id="collegestream" class="form-control" placeholder="Add Streams here...."></textarea>
        
        <ng-select [items]="streams"
      id="stream"
      bindLabel="name"
      placeholder="Select Stream"
      [(ngModel)]="selectedStream">
     </ng-select>

      </div>
<button type="button" class="btn btn-primary" (click)="Submit()" >Submit</button>
<button type="button" class="btn btn-danger" (click)="Cancel()" >Cancel</button>
</form>

</div>
