.NewForm{
    width: 35em;
    margin: auto;
}

.NewForm>h4
{
    margin:5px 0 5px 5px;
    position: relative;
}

.form-group
{
    border:2px inset rgb(97, 124, 211);
    padding: 0em 2em 0 2em;
    border-radius: 10px;
    width: 28em;
 
}

.form-group>label 
{
    margin-top:2em;
    margin-bottom: .7em;
    margin-right: auto;
    
}

.form-group>button
{
    margin: 2em .5em 2em 0;
}





