
 <div  class="NewForm" >

    <h3>Add New Subject</h3>
 <!--- <div  class="NewForm">-->
  <div ></div> 
  <form>
  
   <div class="form-group" >
     <label  for="subjectName">Enter Subject Name</label>
     <input id="subjectName" class="form-control" placeholder="Subject Name Here"/>
  
      <label for="SubjectDescription">Enter Description</label>
    <input id="SubjectDescription" class="form-control" placeholder="Description"/>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</div>
  </form>
  </div>