<p>
    Add College Data
  </p>
  <div  class="NewForm">
   
  <form>
  
   <div class="form-group">
     <label  for="universityName">Enter University Name</label>
     <input id="universityName" class="form-control" placeholder="University Name"/>
   </div>
   <div class="form-group">
      <label for="CityName">Enter University City</label>
    <input id="CityName" class="form-control" placeholder="City"/>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>