
 <div  class="NewForm" align="center">

    <h3>Add College Data</h3>
 <!--- <div  class="NewForm">-->
  <div class="profilepic"></div> 
  <form>
  
   <div class="form-group" align="left">
     <label  for="universityName">Enter University Name</label>
     <input id="universityName" class="form-control" placeholder="University Name"/>
  
      <label for="CityName">Enter University City</label>
    <input id="CityName" class="form-control" placeholder="City"/>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</div>
  </form>
  </div>