<p>college works!</p>


<div class="container-fluid">
    <div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
      <div class="row">
          <div class="col-md-10">
        <h4>College List</h4>
      </div>
          
      <div class="col-md-1">
        <button class="btn btn-primary btn-sm" routerLink="/newCollege"> +New College </button>
      </div>
      </div>
      <div class="search-bar">
          <div class="container"> <input type="text" [(ngModel)]="SearchText" placeholder="University"> </div>
       </div>
        <ul class="college">
            @for (college of colleges; track $index){
                <span class="badge">{{i+1}}</span> {{college.CollegeName}},<a routerLink="/stream" class="tab"> Total {{college.StreamCount}} Streams</a> ,<span class="tab">Total {{college.StudentCount}} Students</span>
  
                <button class="delete" title="delete university"
                (click)="delete(college)">x</button>
            }
<!--           <li *ngFor="let college of colleges | search:SearchText : 'CollegeName' | paginate:{itemsPerPage:5 , currentPage: p }; index as i"
          [class.selected]="college === selectedCollege"
          (click)="onSelect(college)">
  
              <span class="badge">{{i+1}}</span> {{college.CollegeName}},<a routerLink="/stream" class="tab"> Total {{college.StreamCount}} Streams</a> ,<span class="tab">Total {{college.StudentCount}} Students</span>
  
              <button class="delete" title="delete university"
              (click)="delete(college)">x</button>
          </li>  -->  
        </ul>
        <div class="row">
            <div class="col-md-2"></div>
              <div class="col-md-8">
<!--                 <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
              </div>
            <div class="col-md-2"></div>
          </div>
          
        <!---<button class="btn btn-danger" routerLink="/newCollege">Add New College </button>-->
      </div>
      <div class="col-sm-2"></div>
    </div>
      </div>
  
        
