
<div class="paper-list-container">
    <div class="row">
        
      <div class="col-md-1"></div>
      <div class="col-md-5">
          <h3>
             Available Papers 
          </h3>
            <div class="search-bar">
      <div class="container">  <input type="text" (input)="search(searchText)" [(ngModel)]="searchText" placeholder="Subject"/>
        <ul class="paper">
          <li *ngFor="let paper of papers" >
              <span class="badge">{{paper.id}}</span> {{paper.year}}, {{paper.subject}} 
              {{paper.college}}, {{paper.university}}
              <button type="button" class="btn btn-sm tab" routerLink="/ShowQuestions" >Questions</button>
          </li>
        </ul>
  
      </div>
      <div class="col-md-6">
          <button type="button" class="btn stn-success" (click)="NewPaper()"  >New Paper</button>
        <div *ngIf="newPaper">
            <app-paper-new  (added)="onAdd($event)" ></app-paper-new>
        </div>
        
      </div>
  </div>
  </div>
  