.search-bar
{
    width:50em;
    background-color:rgb(84, 71, 201);
    border-radius: 5px;
    padding: 5px;   
    margin-left: .5em;
}

.container
{
    margin:auto;
    display: inline-block;  
}

.paper li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 2.5em;
    border-radius: 4px;
    min-width: 50em;
    display: inline-block;
  }

  .paper li .selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .paper li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }

  .paper{
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }

  .tab
  {
    background-color: #c4cbff;
    display: inline-block;
    padding:1px 2px 1px 2px;
    border:1px outset silver;
    border-radius: 5px;
    margin:0 0 0 5px;
  }

  .paper_list_container
 {
   margin: auto;
   width:1000px;
 }

 .paper .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: rgb(84, 71, 201);
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 3em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
  display: inline-block;

}

/*.new-btn{
  background-color:rgb(91, 54, 224);
  border:none;
  padding:5px 10px;
  border-radius:4px;
  cursor: pointer;
  color: white;
  margin-top:.5em;
  margin-right:2em;
  font-weight: bold;
  float: right;
  bottom:3em;
  margin-left:25px;
  margin-bottom: .5em;
}*/

h4{
  display: inline-block;
  padding-top:1.5em;
  margin-left: 0.7em;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.available-paper-panel
{
  width:52em;
  margin: 0;
  float: left;
}

.new-paper-panel
{
  float: right;
  
}

.new-btn
  {
    background-color:rgb(91, 54, 224);
    border:none;
    padding:5px 10px;
    border-radius:4px;
    cursor: pointer;
    color: white;
    margin:0 1.5em 5px 15px;
    font-weight: bold;
 
    margin-top:2em;
  }