.search-bar
{
    width:50em;
    background-color:rgb(84, 71, 201);
    border-radius: 5px;
    padding: 5px;   
}

.container
{
    margin:auto;
    display: inline-block;  
}

.paper li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 2.5em;
    border-radius: 4px;
    min-width: 50em;
    display: inline-block;
  }

  .paper li .selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .paper li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }

  .paper{
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }

  .tab
  {
    background-color: #c4cbff;
    display: inline-block;
    padding:1px 2px 1px 2px;
    border:1px outset silver;
    border-radius: 5px;
    margin:0 0 0 5px;
  }

  .paper_list_container
 {
   margin: auto;
   width:1000px;
 }