<!--
<div class="paper-list-container">
    <div class="row">
        
      <div class="col-md-1"></div>
      <div class="col-md-5">
          <h3>
             Available Papers 
             <button type="button" class="btn stn-success new-btn" (click)="NewPaper()"  >New Paper</button>
          </h3>
          
            <div class="search-bar">
      <div class="container">  <input type="text" placeholder="University"/><input type="text" placeholder="College"></div>
  </div>
        <ul class="paper">
          <li *ngFor="let paper of papers" >
              <span class="badge">{{paper.id}}</span> {{paper.year}}, {{paper.subject}} 
              {{paper.college}}, {{paper.university}}
              <button type="button" class="btn btn-sm tab" routerLink="/ShowQuestions" >Questions</button>
          </li>
        </ul>
  
      </div>
      <div class="col-md-6">
         <button type="button" class="btn stn-success new-btn" (click)="NewPaper()"  >New Paper</button>
        <div *ngIf="newPaper">
            <app-paper-new  (added)="onAdd($event)" ></app-paper-new>
        </div>
        
      </div>
  </div>
  </div>
-->

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="row">
          <div class="col-md-9">
            <h4>
                Available Papers 
            </h4>
          </div>
          <div class="col-md-2">
              <button type="button" class="btn stn-success new-btn" routerLink="/newPaper"  >New Paper</button>
          </div>
          <div class="col-md-1"></div>
        </div>
        <div class="search-bar">
          <div class="container">  <input type="text" placeholder="University"/><input type="text" placeholder="College"></div>
        </div>

        <ul class="paper">
          <li *ngFor="let paper of papers  | paginate:{itemsPerPage:5 , currentPage: p }; index as i;" >
              <span class="badge">{{paper.Year}}</span> {{paper.SubjectName}}, {{paper.StreamName}} 
              {{paper.UniversityName}}, {{paper.CollegeName}}
              <button type="button" class="btn btn-sm tab" routerLink="/ShowQuestions/{{paper.PaperID}}" >Questions</button>
          </li>
        </ul>
        <div class="row">
            <div class="col-md-2"></div>
              <div class="col-md-8">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
            <div class="col-md-2"></div>
          </div>
    </div>
    <div class="col-sm-2">

        <div *ngIf="newPaper" class="new-paper-panel" >

            <app-paper-new  (added)="onAdd($event)" ></app-paper-new>
      
        </div>
    </div>


</div>
</div>