

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-md-8">
      <h4>
        Available Subjects
      </h4>
      </div>
      <div class="col-md-2">
      <button class="btn btn-primary btn-sm" title="New Subject" routerLink="/newSubject">New Subject</button>
    </div>
    <div class="col-md-2"></div>
    </div>
      <div class="search-bar">
        <input type="text" [(ngModel)]="SearchText" placeholder="Subject"></div>

      <ul class="subject">
        <li *ngFor="let subject of subjects  | search: SearchText:'SubjectName' | paginate:{itemsPerPage:5 , currentPage: p }; index as i;">
          <span class="badge">{{i+1}}</span> {{subject.SubjectName}} Unit-{{subject.Unit}}  <a routerLink="/SubjectDetails" class="tab">   12 Topics</a> ,<span class="tab">42 Question Papers</span>
        </li>
      </ul>
      <div class="row">
          <div class="col-md-2"></div>
            <div class="col-md-8">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
          <div class="col-md-2"></div>
        </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
