

<div class="container-fluid subject_list_container">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        <h4>
           Available Subjects
        </h4>
          <div class="search-bar">
             <input type="text" placeholder="University"/><input type="text" placeholder="College"></div>
           
      <ul class="subject">
        <li *ngFor="let subject of subjects" >
            <span class="badge">{{subject.id}}</span> {{subject.name}}
        </li>
      </ul>

    </div>
    <div class="col-xs-1"></div>
</div>
</div>
