

<div class="container-fluid ">
  <div class="row">
    <div class="col-xs-2 col-md-2" ></div>

    <div class="xs-hidden col-md-8" >
      
      <div class="row">
        <div class="col-md-10">
          
        <h4>Universities List</h4> 
        </div>
        
        <div class="col-md-1">
        <button class="btn btn-primary btn-sm" title="+New University" routerLink="/newUniversity">+New</button>
        </div>
      </div>
        <ul class="university">
            <li *ngFor="let university of universities"
            [class.selected]="university === selectedUniversity"
            (click)="onSelect(university)" class="col-md-6">
  
                  <span class="badge">{{university.id}}</span> {{university.name}} <a routerLink="/college" class="tab"> 10 Colleges affiliated to it.</a> ,
                  <a routerLink="/Student" class="tab"> 1200 Students Registered</a>
  
                  <!---<button class="delete" title="delete university"
                  (click)="delete(university)">x</button>-->
            </li>
        </ul>
    
    
    </div>

    <div class="col-xs-2 col-md-2" ></div>
  </div>
 
</div>