

<div class="container-fluid ">
  <div class="row">
    <div class="col-xs-2 col-md-2" ></div>

    <div class="xs-hidden col-md-8" >
      
      <div class="row">
        <div class="col-md-10">
          
        <h4>Universities List</h4> 
        </div>
        
        <div class="col-md-1">
        <button class="btn btn-primary btn-sm" title="+New University" routerLink="/newUniversity">+New</button>
        </div>
      </div>
        <ul class="university">
          @for (university of universities; track $index){
            <li class="item-row">
            <span class="badge">{{$index +1}}</span> {{university.UniversityName}} <a routerLink="/college" class="tab"> {{university.CollegeCount}} Colleges affiliated to it.</a> ,
                  <a routerLink="/Student" class="tab"> 1200 Students Registered</a>
            </li>
            }
<!--             <li *ngFor="let university of universities  | paginate:{itemsPerPage:5 , currentPage: p }; index as i;"
            [class.selected]="university === selectedUniversity"
            (click)="onSelect(university)" class="col-md-6">
  
                  <span class="badge">{{i}}</span> {{university.UniversityName}} <a routerLink="/college" class="tab"> {{university.CollegeCount}} Colleges affiliated to it.</a> ,
                  <a routerLink="/Student" class="tab"> 1200 Students Registered</a>
  
                  <button class="delete" title="delete university"
                  (click)="delete(university)">x</button>
            </li> -->
        </ul>
        <div class="row">
            <div class="col-md-2"></div>
              <div class="col-md-8">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
            <div class="col-md-2"></div>
          </div>
    
    </div>

    <div class="col-xs-2 col-md-2" ></div>
  </div>
 
</div>