
 <div  class="NewForm" >

    <h4>Add University Data</h4>
 <!--- <div  class="NewForm">-->
  
  <form>
  
   <div class="form-group" >
     <label  for="universityName">Enter University Name</label>
     <input id="universityName" [(ngModel)]="university.UniversityName" class="form-control" name="first" placeholder="What is Name of University.."/>
  
      <label for="CityName">Enter City</label>
    <input id="CityName" class="form-control" placeholder="In which City University is..."/>
  
  <button type="button" class="btn btn-primary"  (click)="Submit()">Submit</button>
  <button type="button"  class="btn btn-danger"  (click)="Cancel()" >Cancel</button>
</div>
  </form>
  </div>