
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1 hidden-xs"></div>
    <div class="col-sm-10 col-xs-12">
      <h3>Top Universities</h3>
      <div class="grid grid-pad">
        <a *ngFor="let univ of universities" class="col-1-4">
          <div class="module univ">
            <h4>{{univ.UniversityName}}</h4>
            <span class="span">{{univ.StudentCount}}</span> Students Enroled
          </div>
        </a>
      </div>
    </div>

    <div class="col-sm-1 hidden-xs"></div>
  </div>
  <div class="row">
      <div class="col-sm-1 hidden-xs"></div>
      <div class="col-sm-10 col-xs-12">
        <div  class="ChartCard">
    <app-student-count-chart ></app-student-count-chart>
  </div>
  </div>

  <div class="col-sm-1 hidden-xs"></div>
  </div>

</div>