<div class="page">
<!-- <div *ngIf='1' class="heading1"> -->
  @if(paper){
<h4>{{paper.SubjectName}}, {{paper.Year}}</h4>
<h5>{{paper.CollegeName}}, {{paper.UniversityName}}</h5>
  }
<!-- </div> -->

 <div class="page-title-bar">
    <button class="btn btn-primary" type="button" routerLink="/newQuestion/{{PaperID}}">New Question</button>

 </div>

<!-- <div *ngIf="questions" class="question-container"> -->
 
<div  class="accordion" id="accordionExample">
  @for(question of questions;  track $index ){
  <div class="card" >
    <div class="card-header" attr.id="heading{{question.id}}">
      <h2 class="mb-0">
       
          <div class="row" class="Qtext">
            <div class="col-xs-2"> Question: {{i+1}} </div>
            <div class="col-xs-10" >
            <!--    {{question.Question}} -->
                <span>{{question.Question}}</span>
             <!-- <ng-katex-paragraph [paragraph]="question.Question" ></ng-katex-paragraph> -->

              <button class="btn btn-link" type="button" data-toggle="collapse" attr.data-target="#collapse{{question.QuesID}}"
              aria-expanded="true" aria-controls="collapseOne"> Show Answer
            </button>
            </div>
          </div>
       
      </h2>
    </div>

    <div attr.id="collapse{{question.QuesID}}" class="collapse" attr.aria-labelledby="heading{{question.QuesID}}" data-parent="#accordionExample">
      <div class="card-body">
       <!--    {{question.Solution}}-->
        <ng-katex-paragraph [paragraph]="question.Solution"></ng-katex-paragraph> 
      </div>
    </div>
  </div>
}
<!-- </div> -->

</div>
</div>